.container {
    display: flex;
    flex-direction: row;
}

.form-container {
   display: flex;
   flex-direction: row;
   max-height: 500px;
}

.container-item {
    display: flex;
    flex-direction: column;
    flex-flow: wrap column;
}


.container-item-child {
    flex-shrink: 4;
}


#leftContainer {
    flex-grow: 0.2;
   
   }
   
   #optionsContainer {
       overflow: scroll;
       flex-grow: 1;
   }