<div class="container">

    <app-item-container id="leftContainer" centerContent>
        <app-item-container-child>
          <mat-form-field>
            <input (keyup)="urlChanged($event)" matInput placeholder="URL">
          </mat-form-field>
        </app-item-container-child>
  
        <app-item-container-child>
          <mat-form-field>
            <mat-select (change)="httpMethodChanged($event)">
              <mat-option value="GET">GET</mat-option>
              <mat-option value="POST">POST</mat-option>
              <mat-option value="PUT">PUT</mat-option>
              <mat-option value="DELETE">DELETE</mat-option>
              <mat-option value="PATCH">PATCH</mat-option>
              <mat-option value="HEAD">HEAD</mat-option>
              <mat-option value="OPTIONS">OPTIONS</mat-option>
              <mat-option value="CONNECT">CONNECT</mat-option>
              <mat-option value="TRACE">TRACE</mat-option>
            </mat-select>
            <mat-placeholder><b> HTTP Method</b></mat-placeholder>
          </mat-form-field>
        </app-item-container-child>


  
        <app-item-container-child>
          <mat-form-field style="display: block !important;">
            <textarea #dataTextArea (keyup)="dataChanged($event)" matInput matTextareaAutosize matAutosizeMinRows="10" placeholder="Data"></textarea>
          </mat-form-field>
        </app-item-container-child>
        <app-item-container-child>
          <mat-radio-group (change)="dataTypeChanged($event)">
            <mat-radio-button checked value="--data">--data</mat-radio-button>
            <mat-radio-button value="--data-ascii">--data-ascii</mat-radio-button>
            <mat-radio-button value="--data-binary">--data-binary</mat-radio-button>
            <mat-radio-button value="--data-raw">--data-raw</mat-radio-button>
            <mat-radio-button value="--data-urlencode">--data-urlencode</mat-radio-button>
          </mat-radio-group>
        </app-item-container-child>
</app-item-container>
<app-item-container id="optionsContainer">
<app-item-container-child *ngFor="let option of options">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{option.longFormOption}} <p *ngIf="option.shortFormOption !== undefined"> or {{option.shortFormOption}}</p>
            </mat-panel-title>
            <mat-panel-description>
                {{option.description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-option-select (commandChanged)="onOptionEvent($event)" (optionChanged)="onOptionEvent($event)" [option]="option"></app-option-select>
        </mat-expansion-panel>
    </mat-accordion>
</app-item-container-child>
</app-item-container>

</div>

<app-generated-command (onUrlChanged)="updateCommand($event)">
    
</app-generated-command>