.container {
    display: flex;
    flex-direction: row;
}

#leftContainer {
    flex-grow: 0.2;
   
   }
   
   #optionsContainer {
       overflow-y: scroll;
       flex-grow: 1;
   }

   #optionsContainer::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
   }

   /**  STYLE 1 */
   #optionsContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #093551;
}

#optionsContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.util-buttons {
    margin: auto;
    width: 50%;
    padding-top: 15px;
}

@media (max-width: 1010px) {
    .mat-radio-button{
      display: flex !important;
    }
}

@media (max-width: 1010px) {
    .container{
        flex-direction: column;
    }

}